#root {
  max-width: 100%; /* Allow full width on smaller screens */
  width: 90%; /* Occupy 90% of the viewport width */
  max-width: 1400px; /* Constrain width for larger screens */
  margin: 0 auto; /* Center horizontally */
  padding: 2rem; /* Add spacing inside the container */
  text-align: center; /* Align text within the container */
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem; /* Reduce space between the logo and form */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (min-width: 768px) {
  #root {
    width: 80%; /* Adjust width for medium screens */
  }
}

@media (min-width: 1024px) {
  #root {
    width: 75%; /* Adjust width for larger screens */
    max-width: 1600px; /* Allow more space for large screens */
  }
}
